PORT=3001
DB_HOST=localhost
DB_PORT=3306
DB_NAME=restaurante_db
DB_USER=root
DB_PASS=
JWT_SECRET=cambia_este_secreto_en_produccion
JWT_REFRESH_SECRET=cambia_este_refresh_secreto
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
ADMIN_PASSWORD=cambia_esta_contrasena_en_produccion
CODEPAY_SANDBOX=true
CODEPAY_API_URL=https://payapi.codewave.com.bo/api
CODEPAY_PUBLIC_KEY=
CODEPAY_SECRET_KEY=
CODEPAY_NOTIFICATION_SECRET=
CODEPAY_SANDBOX_PUBLIC_KEY=
CODEPAY_SANDBOX_SECRET_KEY=
