PORT=3007
DB_HOST=localhost
DB_PORT=3306
DB_NAME=salybrasas_db
DB_USER=salybrasas_user
DB_PASS=CAMBIA_ESTA_PASSWORD_FUERTE
JWT_SECRET=CAMBIA_ESTO_POR_64_CHARS_ALEATORIOS
JWT_REFRESH_SECRET=CAMBIA_ESTO_POR_64_CHARS_ALEATORIOS_DIFERENTE
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d
NODE_ENV=production
CORS_ORIGIN=https://salybrasas.codewave.com.bo
ADMIN_PASSWORD=CAMBIA_ESTA_PASSWORD_ADMIN_FUERTE
